body {
  background-color: #134b40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  background-color: #2a2a2a;
  width: 350px;
  height: 680px;
  margin: 25px;
  border-radius: 25px;
}

.form.light {
  background-color: #ffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form.light #input {
  background-color: #ffff;
  color: #2a2a2a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form.light #inputs {
  background-color: #ffff;
  color: #6ead6a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form.light .b {
  background-color: #ffff;
  color: #2a2a2a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form.light .c {
  background-color: #e8e8e8;
  color: #2a2a2a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form.light .g {
  color: #2a2a2a;
  background-color: #b3b3b3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form.dark {
  background-color: #2a2a2a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form.dark #input {
  background-color: #2a2a2a;
  color: #ffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form.dark #inputs {
  background-color: #2a2a2a;
  color: #6ead6a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form.dark .b {
  background-color: #2a2a2a;
  color: #ffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form.dark .c {
  background-color: #3e3e3e;
  color: #ffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form.dark .g {
  color: #ffff;
  background-color: #161616;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#input {
  background-color: #2a2a2a;
  margin-top: 70px;
  font-size: 500;
  font-weight: 350;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
  font-size: 25px;
  width: 350px;
  height: 35px;
  color: white;
  border: none;
  padding: 25px;
}

#inputs {
  font-weight: 350;
  background-color: #2a2a2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
  font-size: 55px;
  width: 350px;
  height: 70px;
  border: none;
  color: #6ead6a;
  padding: 25px;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: star;
  width: 230px;
  height: 1px;
  background-color: #b3a9a9;
  margin-left: 85px;
  margin-top: 20px;
}

.row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
  margin-right: 25px;
}

.row-2 .b-1 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #3e3e3e;
}

.row-2 .b-2 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #3e3e3e;
}

.row-2 .b-3 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #3e3e3e;
}

.row-2 .b-4 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #3e3e3e;
}

.row-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
  margin-right: 25px;
}

.row-3 .b-5 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #2a2a2a;
}

.row-3 .b-6 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #2a2a2a;
}

.row-3 .b-7 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #2a2a2a;
}

.row-3 .b-8 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #3e3e3e;
}

.row-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
  margin-right: 25px;
}

.row-4 .b-9 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #2a2a2a;
}

.row-4 .b-10 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #2a2a2a;
}

.row-4 .b-11 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #2a2a2a;
}

.row-4 .b-12 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #3e3e3e;
}

.row-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
  margin-right: 25px;
}

.row-5 .b-13 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #2a2a2a;
}

.row-5 .b-14 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #2a2a2a;
}

.row-5 .b-15 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #2a2a2a;
}

.row-5 .b-16 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #3e3e3e;
}

.row-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
  margin-right: 25px;
}

.row-6 .b-17 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #2a2a2a;
}

.row-6 .b-18 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #2a2a2a;
}

.row-6 .b-19 {
  width: 17%;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  border: none;
  background-color: #161616;
  width: 40% !important;
}
/*# sourceMappingURL=main.css.map */