$dark:#2a2a2a;
$light:#ffff;
$green:#6ead6a;
$dark-input:#3e3e3e;
$light-input:#e8e8e8;
$dark-input-1:#161616;
$light-input-1:#b3b3b3;




@mixin display {
    display: flex;
    justify-content: flex-end;
}

@mixin button () {
    width: 17%;
    height: 40px;
    border-radius: 8px;
    margin: 10px;
    color: white;
    border: none;

}

body {
    background-color: #134b40;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: $dark;
    width: 350px;
    height: 680px;
    margin: 25px;
    border-radius: 25px;

    &.light {
        background-color: $light;
        transition: 0.5s;

        #input {
            background-color: $light;
            color: $dark;
            transition: 0.5s;
        }

        #inputs {
            background-color: $light;
            color: $green;
            transition: 0.5s;
        }

        .b {
            background-color: $light;
            color: $dark;
            transition: 0.5s;
        }

        .c {
            background-color: $light-input;
            color: $dark;
            transition: 0.5s;
        }

        .g {
            color: $dark;
            background-color: $light-input-1;
            transition: 0.5s;
        }

    }

    &.dark {
        background-color: $dark;
        transition: 0.5s;

        #input {
            background-color: $dark;
            color: $light;
            transition: 0.5s;
        }

        #inputs {
            background-color: $dark;
            color: $green;
            transition: 0.5s;
        }

        .b {
            background-color: $dark;
            color: $light;
            transition: 0.5s;
        }

        .c {
            background-color: $dark-input;
            color: $light;
            transition: 0.5s;
        }

        .g {
            color: $light;
            background-color: $dark-input-1;
            transition: 0.5s;
        }



    }
}

#input {
    background-color: $dark;
    margin-top: 70px;
    font-size: 500;
    font-weight: 350;
    display: flex;
    text-align: end;
    font-size: 25px;
    width: 350px;
    height: 35px;
    color: white;
    border: none;
    padding: 25px;
}

#inputs {
    font-weight: 350;
    background-color: $dark;
    display: flex;
    text-align: end;
    font-size: 55px;
    width: 350px;
    height: 70px;
    border: none;
    color: $green;
    padding: 25px;
}

.line {
    display: flex;
    text-align: star;
    width: 230px;
    height: 1px;
    background-color: #b3a9a9;
    margin-left: 85px;
    margin-top: 20px;
}

.row-2 {
    @include display();
    margin-top: 20px;
    margin-right: 25px;

    .b-1 {
        @include button();
        background-color: $dark-input;
    }

    .b-2 {
        @include button();
        background-color: $dark-input;
    }

    .b-3 {
        @include button();
        background-color: $dark-input;
    }

    .b-4 {
        @include button();
        background-color: $dark-input;
    }
}

.row-3 {
    @include display();
    margin-top: 20px;
    margin-right: 25px;

    .b-5 {
        @include button();
        background-color: $dark;
    }

    .b-6 {
        @include button();
        background-color: $dark;
    }

    .b-7 {
        @include button();
        background-color: $dark;
    }

    .b-8 {
        @include button();
        background-color: $dark-input;
    }
}

.row-4 {
    @include display();
    margin-top: 20px;
    margin-right: 25px;

    .b-9 {
        @include button();
        background-color: $dark;
    }

    .b-10 {
        @include button();
        background-color: $dark;
    }

    .b-11 {
        @include button();
        background-color: $dark;
    }

    .b-12 {
        @include button();
        background-color: $dark-input;
    }
}

.row-5 {
    @include display();
    margin-top: 20px;
    margin-right: 25px;

    .b-13 {
        @include button();
        background-color: $dark;
    }

    .b-14 {
        @include button();
        background-color: $dark;
    }

    .b-15 {
        @include button();
        background-color: $dark;
    }

    .b-16 {
        @include button();
        background-color: $dark-input;
    }
}

.row-6 {
    @include display();
    margin-top: 20px;
    margin-right: 25px;

    .b-17 {
        @include button();
        background-color: $dark;
    }

    .b-18 {
        @include button();
        background-color: $dark;
    }

    .b-19 {
        @include button();
        background-color: $dark-input-1;
        width: 40% !important;
    }
}